@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --white: #fcfcfc;
  --blue: #3d76e8;
  --lighter-blue: #81a6ef;
  --light-blue: #cadaf9;
  --pink: #f97b7a;
  --gold: #f8c950;
  --yellow: #fae5a9;
  --green: #6de1b7;
  --light-pink: #fec4c4;
  --red: #a95150;
  --dark: #35393e;
  --grey: #d4d4d4;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
}

ul {
  list-style: none;
}
